seedms
src/.deps/
src/.msstats.cc.swp
src/mssfs
src/msstats
Makefile
config.h
config.log
config.status
msstats.lsm
msstats.spec
src/Makefile
stamp-h

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
